@font-face {
	font-family: "OpenSans-Light";
	src: url(OpenSans-Light.ttf);
}
@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url(OpenSans-ExtraBold.ttf);
}
@font-face {
	font-family: "OpenSans-SemiBold";
	src: url(OpenSans-SemiBold.ttf);
}